body {
    background-color: black;
    color: bisque;
    margin: 0;
    text-align: center;
}

.hero {

    background-image: url("./Images/houston.jpg");
    background-size: cover;
    /* padding: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.hero h1 {
    color: purple;
    background: indianred;
    padding: 10px 15px;
    border-radius: 10px;
}

.hero h2 {
    color: purple;
    background: goldenrod;
    padding: 10px 15px;
    border-radius: 10px;
}

.activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   


}

.activ-child{
    width: 400px;
}

.activ-img {

    width: 300px;
    border-radius: 50%;

}

.middle {
    background: darkgray;
    /* padding: 300px; */
}

.middle-child {
    margin-bottom: 40px;
}

.card {
    width: 600px;
    display: flex;
    background: burlywood;
    margin: 0px auto;
    align-items: center;
    padding: 40px;
    border-bottom: 5px solid rebeccapurple;
    margin: 50px auto;

}

.photo {
    width: 300px;
    border-radius: 30px;
}
